.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 92px 48px 0;
}
.footer__image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(../images/footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  max-width: 1184px;
  max-height: 740px;
  margin-bottom: 92px;
}

.footer__center {
  padding: 234px 246px;
  color: #ffffff;
  text-align: center;
}

.footer__center_paragraph {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

.footer__center_title {
  font-size: 72px;
  line-height: 76px;
  margin: 0 0 32px;
}

.footer__center_button {
  color: #ffffff;
  width: 191px;
  height: 48px;
  border-radius: 4px;
  padding: 13px, 20px, 13px, 20px;
  gap: 10px;
  background-color: rgba(2, 120, 254, 1);
  margin-top: 32px;
  border: none;
}

.footer__copyrigth {
  color: #ffffff;
  line-height: 14px;
}
@media screen and (max-width: 1024px) {
  .footer {
    margin: 0;
  }
  .footer__image {
    margin-bottom: 88px;
  }
  .footer__center {
    padding: 246px 56px;
  }
}
