.page {
  margin: 0 auto;
  background-color: rgba(42, 44, 47, 1);
  font-family: "Inter", arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

@media screen and (max-width: 720px) {
  .page {
    min-width: 362px;
  }
}
